.root { min-height: 100vh; }

.containerEmpty {
  max-width: 672px;
  margin: 0 auto;
  padding: 64px 16px;
  text-align: center;
}

.containerMain {
  max-width: 1024px;
  margin: 0 auto;
  padding: 32px 16px;
}
